.app {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100%;
    width: 256px;
    background-color: #2F4050;
}

.sidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.sidebarList .row {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid white;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    padding: 1rem;
}

.sidebarList .row:hover {
    cursor: pointer;
    background-color: #293846;
}

.sidebarList #active {
    background-color: #293846;
}

.row #icon {
    flex: 30%;
}

.row #title {
    flex: 70%;
}