.app {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100%;
    width: 256px;
    background-color: #2F4050;
}

.sidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.dashboard {
    background-color: rgba(120, 148, 255, 1);
    color: white;
    margin: 0%;
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 56px;
    padding: 1rem;
    gap: 1rem;
    border-radius: 50px;
}

.sidebarList .row:hover {
    cursor: pointer;
    background-color: #293846;
}

.sidebarList #active {
    background-color: #293846;
}
